Language: Cpp
BasedOnStyle:  Google

AccessModifierOffset: -4
IndentWidth:  4
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
PointerAlignment: Right

IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<[^Q].*'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^<Q.*'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '.*'
    Priority:        4
    SortPriority:    0
    CaseSensitive:   false